@model IEnumerable<DATA.Entity.Taikhoan>

@{
    ViewBag.Title = "DanhsachTaiKhoan";
    Layout = "~/Areas/Admin/Views/Shared/layout-admin.cshtml";
}

<h2>DanhsachTaiKhoan</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Tài khoản 
        </th>
        <th>
            Mật khẩu
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Username)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Pass)
        </td>
    </tr>
}

</table>
