
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Form</title>
</head>
<body>
    <div> 
        <form action="~/Home/FormNHan">
            <p>
                <label>Hello</label>
                <input name="loichao" />
            </p>
            <p>
                <label>ngay gui</label>
                <input name="ngaygui" type="date" />
            </p>
            <p>
                <button name="Gui">Gui</button>
            </p>

        </form>
    </div>
</body>
</html>
